@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {

:root  {
  --background: #F8F3D9;
  --foreground: 74 5% 0%;
  --card: 74 50% 90%;
  --card-foreground: 74 5% 10%;
  --popover: 74 100% 95%;
  --popover-foreground: 74 100% 0%;
  --primary: 74 0% 0%;
  --primary-foreground: 0 0% 100%;
  --secondary: 74 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 36 30% 85%;
  --muted-foreground: 74 5% 35%;
  --accent: 36 30% 80%;
  --accent-foreground: 74 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 74 5% 90%;
  --border: 74 30% 50%;
  --input: 74 30% 18%;
  --ring: 74 0% 0%;
  --radius: 0.5rem;
}
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}



