@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {

:root  {
  --background: #faedcd;
  --foreground: 74 5% 0%;
  --card: #d4a373;
  --card-foreground: 74 5% 10%;
  --popover: 74 100% 95%;
  --popover-foreground: 74 100% 0%;
  --primary: 74 0% 0%;
  --primary-foreground: 0 0% 100%;
  --secondary: #d8e0a8;
  --secondary-foreground: 0 0% 0%;
  --muted: 36 30% 85%;
  --muted-foreground: 74 5% 35%;
  --accent: 36 30% 80%;
  --accent-foreground: 74 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 74 5% 90%;
  --border: #ccd5ae;
  --input: 74 30% 18%;
  --ring: 74 0% 0%;
  --radius: 0.5rem;
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}
  .dark {
--color-1: 0 100% 63%;
--color-2: 270 100% 63%;
--color-3: 210 100% 63%;
--color-4: 195 100% 63%;
--color-5: 90 100% 63%;
}
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  overflow-x: hidden;
}


.hide-scroller::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}

.hide-scroller {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}



@layer base {
  * {
    @apply border-border outline-ring/50;
}
  body {
    @apply bg-background text-foreground;
}
}



