.interview-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 40%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.interview-stats {
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 3px solid var(--border);
  border-radius: 6px;
  display: flex;
  flex-direction: column;

  overflow: scroll;
  scrollbar-width: none;
  position: relative;
}
.interview-stats::-webkit-scrollbar {
  display: none;
}

.company-container {
  padding: 10px;
  margin-bottom: 20px;
  min-height: 15rem;
  background-color: var(--card);
  color: var(--primary);
  border: 2px solid var(--border);
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.200);
  transition: all 0.2s ease-in-out;
  position: relative;
  /* overflow-y: auto; 
  max-height: 20rem;  */
}

.company-container:hover {
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.400);
  transform: scale(1.01);

}

.main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid black;
}
.main-info h1 {
  font-size: 2em;
  font-weight: 600;
  color: var(--primary);
}

.criteria-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.interview_rounds {
  position: relative;
  overflow-y: visible;
  padding-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  overflow-y: auto; 
  max-height: 10rem; 
}

.round {
  padding: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.filter-container {
    height: 80%;
    width: 40%;
    border: 2px solid var(--secondary);
    border-radius: 3px;
}
