.interview-container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.interview-stats {
  padding: 20px;
  width: 80%;
  height: 80%;
  border: 2px solid var(--border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;

  overflow: scroll;
  scrollbar-width: none;
}
.interview-stats::-webkit-scrollbar {
  display: none;
}

.company-container {
  padding: 10px;
  margin-bottom: 20px;
  min-height: 20rem;

  background-color: var(--card);
  color: var(--primary);

  border: 2px solid var(--border);
  border-radius: 5px;

  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.200);
  transition: all 0.2s ease-in-out;
}
.company-container:hover {
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.400);
  transform: scale(1.01)
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-info h1 {
  font-size: 2em;
  font-weight: 600;
  color: var(--primary);
}

.criteria-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.interview-container input {
  height: 40px;
  max-width: 200px;
  padding: 0.875rem;
  font-size: 1rem;
  background-color: var(--foreground);
  border: 1.5px solid var(--border);
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 var(--border);
  outline: none;
  transition: ease 0.25s;
}

.interview-container input:focus {
  box-shadow: 5.5px 7px 0 black;
}


.interview_rounds {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.filter-container {
    height: 80%;
    width: 40%;
    border: 2px solid var(--secondary);
    border-radius: 3px;
}
