.interview-container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.interview-stats {
  padding: 10px;
  min-width: 80%;
  min-height: 80%;
  border: 2px solid hsl(var(--secondary));
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;

  overflow: scroll;
  scrollbar-width: none;
}
.interview-stats::-webkit-scrollbar {
  display: none;
}

.company-container {
  padding: 10px;
  margin-bottom: 20px;
  min-height: 15rem;

  background-color: hsl(var(--secondary));
  color: hsl(var(--primary));

  border: 2px solid hsl(var(--secondary));
  border-radius: 5px;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.interview-container input {
  padding-left: 5px;
  border: 2px solid hsl(var(--secondary));
}
