.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsl(var(--accent-foreground));
}

.header h1 {
  font-size: 2em;
  color: hsl(var(--secondary));
}

.nav-links {
  width: 30em;
  display: flex;
  justify-content: space-between;
}

.links {
  padding-top: 5px;
  border-top: 2px solid whsl(var(--secondary));
}

.usn-input {
  width: 20em;
  height: 2em;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;

  background-color: hsl(var(--background));
  color: white;

  align-self: center;
}

.display-container {
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  position: relative;
}

.interview-display-container {
  height: 90%;
  width: 60%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.student-display-container {
  height: 90%;
  width: 40%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

