.student-info {
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);
  transition: all 0.1s ease-in;
  opacity: 20px;
  background-color: rgba(183, 110, 121, 0.5);
  backdrop-filter: blur(50px);
  overflow: hidden;
}
.student-info:hover {
  box-shadow: 3px 6px 10px 0 var(--border);
  transform: scale(1.01);
}
.student-info-container {
  height: 100%;
  min-width: 20rem;
  width: 80%;
  padding: 10px;
  border: 3px solid var(--border);
  border-radius: 8px;
}

.student-header {
  margin-bottom: 5px;
  height: 6rem;
  border-bottom: 2px solid var(--border);
  background-color: var(--secondary);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


